@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

body {
  font-family:  'Montserrat', sans-serif;
  margin: 0;
  padding: 0;
  background-color: black;
  color: #fff;
}

.navbar {
  font-family: 'Poppins', sans-serif;
  font-size: 20px;
  padding: 10px 20px;
  text-align: center;
}

.container {
  position: relative;
  width: 370px;
  margin: auto;
  text-align: center;
}

.input {
  text-align: center;
}

input {
  width: 300px;
  height: 20px;
  text-align: center;
  border: 1px solid #fff;
  border-radius: 20px;
  padding: 5px 10px;
  outline: none;
}

button {
  padding: 10px 30px;
  margin: 10px 0;
  background-color: #1a60c9;
  color:  #fff;
  border: 3px solid #1a60c9;
  border-radius: 5px;
}

button:hover {
  background-color: #c91a49;
  border-color: #c91a49;
}

.loader {
  display: none;
}

ul {
  list-style: none;
  font-size: 20px;
  text-transform: capitalize;
}

.pix {
  display: flex;
  align-items: center;
  text-align: left;
  height: 400px;
  background-color: #fff;
  color: black;
  border: 1px solid #fff;
  border-radius: 10px;
}

.load {
  display: block;
  position: absolute;
  top: 60%;
  left: 40%;
  width: 50px;
  height: 50px;
  border: 10px solid #c91a49;
  border-radius: 50%;
  border-left-color: black;
  z-index: 3;
  animation: spin 2s ease infinite;
}

@keyframes spin {
  100% {
    transform: rotate(720deg);
  }
}